.background {
    max-width : 100%;
    background-repeat: no-repeat;
    position: fixed;
}
#video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.color {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 150px;
    box-sizing: border-box;
}
iframe {
    padding-bottom: 300px;
    padding-left: 30px;
    animation: animation ease-in-out 0.7s;
}
@media (max-width : 800px ) {
    iframe {
        padding-left: 50px;
    }
}
@keyframes animation { 
    from {
        opacity: 0.5;
        height: 0;
    }
    to {
        opacity: 1;
        height: 315;
    }
}